<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <title>{{page.title}}</title>
    <link href="/favicon.ico" rel="icon" type="image/ico">
    <link href="/favicon.ico" rel="shortcut" type="image/ico">
    <link href="https://fonts.googleapis.com/css?family=Cousine:400,700,400italic,700italic&amp;subset=latin,latin-ext"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700&apos;, :rel =&gt; &apos;stylesheet"
        rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
</head>

<body class="default">
    <section class="container">
        {{ content }}
    </section>
</body>

</html>